
/*td{
    width: 40px;
    height: 40px;
    text-align: center;
}*/
.block{
    /*position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;*/

    width: 100vw;
    height: 100vh;
    /*background-image: url(World_of_warships_2018_HD_Video_Game_3840x2160.jpg);*/
}
.formgroup{
    /*position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;*/

    color: white;
    /*background-image: url(World_of_warships_2018_HD_Video_Game_3840x2160.jpg);*/
}
/*
#header{
    width: 100%;
}
#main_picture{
    text-align: center;
}
.menu{
    padding: 5px;
    border-bottom: 2px solid #AAAAAA;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
#content{
    margin: 30px auto;
    width: 70%;
    font: 17px Georgia;
    text-align: justify;
}
#content_img{
    width: 200px;
    float: left;
    margin-right: 10px;
}
.view_prod{
    height: 10pt;
    width: 10pt;
}*/