﻿<!DOCTYPE html>
@using Microsoft.AspNet.Identity
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Морской бой</title>
    <link href="/Content/styles_okno.css" rel="stylesheet">
    @*<style>
        .content1 {
            top: 110px; /* Расстояние от верхнего края */
            left: 220px; /* Расстояние от левого края */
            bottom: 0;
            right: 0;
        }
        .content2 {
            top: 100px; /* Расстояние от верхнего края */
            left: 200px; /* Расстояние от левого края */
            bottom: 0;
            right: 0;
            background-image: url("content/World_of_warships_2018_HD_Video_Game_3840x2160.jpg");
        }
    </style>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Request.IsAuthenticated)
                { 
                    @Html.ActionLink("Домашняя страница", "Index", "Home", null, new { @class = "navbar-brand" })
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Домашняя страница", "Index", "Account")</li>*@
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="block">
        @RenderBody()
        <footer>
            <div class="formgroup">
                <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
