﻿@*@model ТРПО.Models.LoginViewModel*@
@{
    ViewBag.Title = "Index";
}


<div style="text-align: center; padding-top: 300px; background-image: url(/content/World_of_warships_2018_HD_Video_Game_3840x2160.jpg); width: 100vw; height: 100vh; ">
    @*<img src="/content/World_of_warships_2018_HD_Video_Game_3840x2160.jpg" alt="">*@
    <div class="formgroup">
        Никнейм: Вася
    </div>
    <div class="formgroup">
        Твой рейтиинг:300
    </div>
    <div class="formgroup">
        @using (Html.BeginForm("Game", "Home", FormMethod.Post))
        {
            <div>
                <input type="submit" value="Играть" class="btn btn-default" />
            </div>
        }

    </div>
    <div class="formgroup">
        @using (Html.BeginForm("Settings", "Home", FormMethod.Post))
        {
            <div>
                <input type="submit" value="Настройки" class="btn btn-default" />
            </div>
        }
    </div>
    </divclass>
